#formEvento{
	display: flex;
	flex-direction: column;
	float: center;
	text-align: center;
	justify-content: space-between;
}

#titulo{
	height: 30px;
	width: 20%;
	color: blue;
	font-size: 30px;
}
.images{
	width: 50%;
	height: 50%;
}