<!DOCTYPE html>
<html lang="es">
    <!--meta informaciones-->
    <head>
        {% block metaInformacion %}
        {% endblock %}
    </head>
    
    <!--Cuerpo de la pagina principal-->
    <body>
        <!--Cabecera de la pagina principal
            incluyendo titulo, logo y un menu-->
        <header>
            {% block cabecera %}
            {% endblock %}
        </header>
        <!--Elementos auxiliares a la izquierda de la pagina principal
            aqui iría enlaces o informaciones auxiliares-->
        <aside>
            {% block auxiliares %}
            {% endblock %}
        </aside>
        <!--Contenido principal de la pagina, en lugar de flex
            he utilizado una tabla con tres filas que contienen una 
            imagen sobre el mismo evento en cada fila, todas las imagenes llevan a evento.html-->
        <section>
            {% block central %}
            
            {% endblock %}
        </section>
        
        <!--Pie de pagina separado del resto con una linea
            (<hr>) con copyright-->
        <footer>
            <hr>
                <div>Eventos Ming</div>
                <div id="copyRight">&copy 2020 - Bate Ye</div>
            </hr>
            
        </footer>
    </body>
</html>